.app-canvas {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #eaeaea;
}

/* ======================================== */
/*              Window styles               */
/* ======================================== */
.embed-window {
    position: absolute;
}

.window-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgb(141, 133, 145);
    border: 1px solid var(--dark-color);
    width: 100%;
    height: 100%;
}

.window-content > iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.window-control {
    position: absolute;
    border: 1px solid var(--dark-color);
    width: 100%;
    height: 15px;
    display: flex;
    background-color: var(--twitch-purple);
}

.window-titlebar {
    order: 1;
    flex-grow: 1;
    height: 15px;
    text-align: center;
    color: var(--light-color);
    font-size: 0.75em;
    user-select: none;
}

.window-unlocked {
    cursor: move;
}

.window-button {
    cursor: pointer;
    margin-left: 1px;
    width: 15px;
    height: 15px;
}

.window-reset {
    order: 2;
}

.window-toggle {
    order: 3;
}

.window-close {
    order: 4;
}

.resize-handle {
    position: absolute;
    bottom: 7px;
    right: 7px;
    width: 10px;
    height: 10px;
    cursor: se-resize;
}

/* hack to use fa-th icon as resize handle */
.fa-th {
    clip-path: polygon(100% 0%, 70% 0%, 70% 30%, 30% 30%, 30% 60%, 0% 60%, 0% 100%, 100% 100%);
}

/* ======================================== */
/*            Window Form Styles            */
/* ======================================== */
.window-form {
    margin: 10px;
    padding: 10px;
}

.window-form-direct {
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 12;
}

.window-form-input {
    grid-row: 1;
    grid-column: 1 / 12;
    padding: .25em .35em;
    font-size: 1.25em;
    margin-bottom: .3em;
}

.window-form-select {
    grid-row: 2;
}

.window-form-submit {
    grid-row: 2;
    grid-column: 11;
    padding: 5px;
    background-color: var(--twitch-purple);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-error {
    margin-top: 5px;
    color: var(--error-color);
    font-weight: bold;
    grid-row: 3;
}