* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --dark-color: #2d2c30;
    --light-color: #f1f1f1;
    --twitch-purple: #6441A4;
    --error-color: #f32d2d;

    --menu-width: 50px;
    --submenu-width: 400px;
}

.no-display {
    display: none;
}

.react-embed-app {
    display: flex;
}