/* ======================================== */
/*            Window Menu Styles            */
/* ======================================== */

.app-menu {
    position: relative;
    height: 100vh;
    display: flex;
    z-index: 1;
}

.app-menu-options {
    order: 1;
    height: 100%;
    width: var(--menu-width);
    background-color: var(--dark-color);
}

.window-option {
    position: relative;
    display: flex;
}

.option-tooltip {
    position: absolute;
    left: 100%;
    top: 8px;
    white-space: nowrap;
    padding: .5em;
    visibility: hidden;
    background-color: var(--dark-color);
    color: #f1f1f1;
    font-weight: 550;
}

.window-option:hover .option-tooltip {
    visibility: visible;
}

.menu-button {
    width: 100%;
    height: var(--menu-width);
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.menu-button:focus {
    outline: none;
}

.menu-button:hover {
    color: black;
    background-color: var(--light-color);
}

.option-selected {
    border-left: 5px solid var(--light-color);
}

.app-submenu {
    position: absolute;
    left: var(--menu-width);
    order: 2;
    height: 100%;
    width: var(--submenu-width);
    background-color: #444246;
}

.submenu-title {
    color: #fafafa;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bababa;
    font-size: 1.8em;
    text-align: center;
}

.submenu-content {
    width: 90%;
    margin: 0 auto;
}

/* ======================================== */
/*          Window Manager Styles           */
/* ======================================== */
.window-manager {
    display: flex;
    flex-flow: column;
}

.manager-header {
    color: #f1f1f1;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 0;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.manager-button {
    margin-right: 10px;
    margin-left: 5px;
    padding: .3em .5em;
    cursor: pointer;
}

.window-list {
    list-style: none;
}

.window-list-items {
    list-style: none;
    width: 100%;
    height: 70vh;
    overflow: auto;
}

.window-list-item  {
    display: flex;
    color: #f1f1f1;
    margin-bottom: .5em;
}

.window-item-text {
    flex-grow: 1;
}

.window-item-close {
    margin-left: .5em;
    cursor: pointer;
}

/* ======================================== */
/*          Layout Manager Styles           */
/* ======================================== */
.layout-manager {
    display: flex;
    flex-flow: column;
}

.layout-saver {
    margin-bottom: 1.5em;
    order: 1;
}

.layout-saver-form {
    display: flex;
    justify-content: space-between;
}

.layout-saver-input {
    order: 1;
    padding: 5px;
    width: 80%;
}

.layout-saver-button {
    order: 2;
    align-self: flex-end;
}

.layout-saver-error {
    height: 1em;
    font-weight: 750;
    margin-top: 0.2em;
    color: var(--error-color);
}

.layout-loader {
    order: 2;
    width: 100%;
    margin: 0 auto;
}

.layout-list {
    list-style: none;
}

.layout-items {
    width: 100%;
    height: 70vh;
    overflow: auto;    
}

.layout-item {
    width: 100%;
    margin-bottom: .5em;
    display: flex;
}

.layout-item-preview {
    order: 1;
    width: fit-content;
    height: fit-content;
    margin-right: 1em;
    border: 2px solid #3b423b;
}

.layout-item-info {
    order: 2;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.layout-item-text {
    align-self: center;
    order: 1;
    flex-grow: 1;
    color: var(--light-color);
    font-size: 14pt;
    font-weight: 500;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.layout-item-control {
    order: 2;
    display: flex;
}

.layout-item-load {
    order: 1;
}

.layout-item-delete {
    order: 2;
}